<% include header %>

  <div class=text-center>
    <br />
    <br />
    <p><img src="images/dcase.jpg" alt="At K-State" /></p>
    <p>Denise Case<br /> Assistant Professor, <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a><br />
      <a href="http://www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and
        Information Technology</a><br />
      <a href="https://www.nwmissouri.edu/admissions/pdf/campusmap.pdf">2280 Colden Hall</a> <br />
      <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&amp;ei=9A-OVcLwIJHUgwSjpIHoAQ&amp;ved=0CB0Q8gEwAA">Maryville,
        MO 64468</a> <br />
      <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#100;&#099;&#097;&#115;&#101;&#064;&#110;&#119;&#109;&#105;&#115;&#115;&#111;&#117;&#114;&#105;&#046;&#101;&#100;&#117;">&#100;&#099;&#097;&#115;&#101;&#064;&#110;&#119;&#109;&#105;&#115;&#115;&#111;&#117;&#114;&#105;&#046;&#101;&#100;&#117;</a></p>
    <br />
    <div>
      <a href="https://twitter.com/professor_case">Twitter</a>&nbsp; &#9670; &nbsp;
      <a href="https://www.linkedin.com/in/denisecase">LinkedIn</a>&nbsp; &#9670; &nbsp;
      <a href="https://scholar.google.com/citations?user=CyYceikAAAAJ">Google Scholar</a>&nbsp; &#9670; &nbsp;
      <a href="http://ksu.academia.edu/DeniseCase">Academia.edu</a>&nbsp; &#9670; &nbsp;
      <a href="http://www.researchgate.net/profile/Denise_Case">ResearchGate</a>&nbsp; &#9670; &nbsp;
      <a href="http://www.researcherid.com/rid/I-1466-2015">ResearcherID</a>&nbsp; &#9670; &nbsp;
      <a href="http://orcid.org/0000-0001-6165-7389">ORCID</a></div>
    <br />
    <p><img src="images/on_colden_pond.jpg" alt="On Colden Pond" width="80%" /></p>
  </div>

  <% include footer %>