<% include header %>
<html>

<body>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        
      </div>
      <div class="col-sm-12">
        <main>
          <article class="style3">
          <div>
              <form action="" id="coffeeform" onsubmit="return getTotal()"><table align="center" width="80%"
                ><tr><td>
                  <h3>Coffee Type:</h3>
                  <input type="radio"  name="Coffee Type" id="CoffeeType" value="Espresso($5)" onclick="getCoffeePrice()" >Espresso($5)
                  <input type="radio"  name="Coffee Type" id="CoffeeType" value="Moca($7)" onclick="getCoffeePrice()" >Moca($7)
                  <input type="radio"  name="Coffee Type" id="CoffeeType" value="latte($5)" onclick="getCoffeePrice()" >latte($5)
                  <input type="radio"  name="Coffee Type" id="CoffeeType" value="cold coffee($8)" onclick="getCoffeePrice()" >cold coffee($8)
                  
                </td></tr>
                     <tr><td>
                        <h3>Any added flavours</h3>
                        <select name="Any added flavours" id="flavours">
                          <option value="none">select filling</option>
                          <option value="choclate">choclate($10)</option>
                          <option value="vanila">vanila($5)</option>
                          <option value="iced">iced($5)</option>
                          <option value="hot">hot($5)</option>
                      </select>
                  </td></tr>
                 <tr><td> <h3>size</h3>
                  <input type="radio" id="size1" name='size' value="1"/>short($1)
                  <input type="radio" id="size2" name='size'  value="2" />Tall($2)
                  <input type="radio" id="size5" name='size'  value="5" />grande($5)
                  <input type="radio" id="size7" name='size'  value="7" />venti($7)
                </td></tr>
                  <tr><td>
                  <input type="button" onclick="getTotal()" align="center" value="Submit">
                </td></tr>
                <tr><td>
                    <h3>Price:</h3>
                   
                    <input type="text" name="price" id="totalPrice"/>
                </td></tr>


                </table>

              </form>

        </div>
          </article>
        </main>
        <aside class="aside-header"> This is an Aside</aside>
      </div>
      <div class="col-sm-12">
  </div>
</body>
</html>
 
  <% include footer %>