<% include header %>
<html>
<body >
 

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="image_circle">
          </div>
        <form action = "thanq.html" onsubmit="return checkform()"><table align="center" width="80%">
                <p><a href="https://github.com/seshukalvakuri"><img width ="50" height="50" src="gt.png" alt="github"></a></p>
                <p><a href="https://bitbucket.org/lakshmi29/"><img width ="50" height="50" src="0722.sdt-atlassian.png" alt="bitbucket"></a></p>
                <p><a href="https://www.linkedin.com/in/lakshmi-seshu-kalvakuri-349313170/"><img width ="50" height="50" src="Linkedin-nuove-funzionalità-business.png" alt="Linkedin"></a></p>
                <tr><td>
               <h3> First name:</h3><br>
                <input type = "text" name=" first name" id="fname" required>
                <br>
               <h3> Last name:</h3><br>
                <input type = " text" name="lastname" id= "lname" required>
                <br></td></tr>
                <tr><td>
               <h3> Gender:</h3>
                <input type="radio" name="gender" value="male" id="m"> Male
                  <input type="radio" name="gender" value="female" id="f"> Female
                  <input type="radio" name="gender" value="other" id="o"> Other  
                  </td>
                  </tr>
                  <tr><td>
                   <h3> Email Id:</h3>
                   <input type="email" name="emailid" id="email" required> 
                    <td></tr>
                  <tr><td>
                    <h3>Phone Number</h3>
                      <input type="number" name="phone number" id="phonenumber" required> 
                  </td></tr>
                <td vertival-align="5">
               <h3> subject: <h3>
                <textarea name="subject" rows="10" cols="25">
                    </textarea><tr><td>
                            <input type="submit" align="center" value="Submit">
                    </td></tr>
                    
                    </td></tr>
                    </table>
                    
                    </form>
      </div>
      <div class="col-sm-12">
        <main>
          <article class="style3">
               
          </article>
        </main>
        <aside class="aside-header"> This is an Aside</aside>
      </div>
      <div class="col-sm-12">
    

  </div>
</body>
</html>



  <% include footer %>