
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Seshu Kalvakuri Personal Website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/style.css">
  </head>
  
<body background="/bg2.jpg">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/"><b>seshu kalvakuri<b></a>
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/coffee">Coffee</a>
        <a class="navbar-brand" href="/contact">Contact Us</a>
        
      </div>
    </div>
  </nav>
  </body>
  </html>