
<% include header %>
<html>
  <body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="image_circle">
          <img src="/seshu.jpeg" class="img-circle" alt="Seshu Kalvakuri">
        </div>
      </div>
      <div class="col-sm-12">
        <main>
          <article class="style3">
            <h2 id="present">
              About me:
            </h2>
            I am from India, I've recently done my under graduation in information technology from JNTUK. I am here to
            do my masters in Applied Computer Science. These is the first time I am in USA and excited about the
            opportunities here

            <h2 id="Past-section">
              Background:
            </h2>
            <p class="style3">
              As I mentioned earlier my bachelors was in Information technology, A point to note is that from where I
              am information technology is similar to applied computer science. Before doing my undergraduate I had a
              post-college certificate focused in Mathematics physics and chemistry. Although I do not have prior job
              experience I have attended seminars worked on projects related to computer science focusing on Machine
              learning.
            </p>
            <h2 id="future-section">
              My Plans:
            </h2>
            <p id="style3">
              With this degree, I am hoping to work as a software engineer. I am interested in developing web
              applications that would automate processes or work on issues based on client requirements. I am also
              interested in mobile application development. I am hoping that this course along with advanced databases
              will help me develop better web applications
            </p>
            <h2 id="present">
              Schedule:
            </h2>
            <ul class="style3">
              <li>Web Application: Section 03: MWF Days: 11:00AM - 11:50AM: Denise Case</li>
              <li>Object Oriented Programming: Section 05: TR Days: 2:00PM - 03:15PM: Ajay Bandi</li>
              <li>Advanced Database Systems: Section 03: MWF Days: 1:00PM - 01:50PM: Douglas Hawley</li>
            </ul>
            <h2 id="present">
              Video:
            </h2>
            <div class="video-div">
              <p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/wxQR5kokq68" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
            </div>
            
           


          </article>
        </main>
        <aside class="aside-header"> This is an Aside</aside>
      </div>
      <div class="col-sm-12">
      </div>
    </body>
    </html>
  
    <% include footer %>
